/* #package css/main */

.gallerycontainer {
    position: absolute;
    width: 20%;
    height: 100%;
    right:0;

    background: gray;
    z-index: -1;
    
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 5px;
    grid-row-gap: 5px;
    grid
}